.gitui79__cont {
    &-uncommited-changes-nothing-to-commit {
        text-align: center;
        padding: 3em 20px;
    }

    &-uncommited-changes {
        flex-grow: 1000;
        display: flex;
        flex-direction: column;
    }
    &-list-changes-wrap {
        flex-grow: 1000;
        flex-shrink: 1000;
        display: block;
        overflow: auto;
    }
}
