.gitui79__cont {
	&-commit-form {
		border: 1px solid #2e728f;
		background-color: #1a323c;
		color: #c2e1ee;
	}
}

// 画像差分表示用スタイル（ダークモード）
.gitui79__image-diff {
	&-label {
		background-color: #333;
		color: #eee;
	}
	
	&-content {
		border-color: #444;
		background-color: #2a2a2a;
	}
}
