<section>
	<h2>ブランチリスト</h2>
	<ul class="gitui79__branch-list">
		{% for row in branch.localBranches %}
		<li>
			{% if row == currentBranchName %}
			{{ row }}
			<ul class="gitui79__menu-list">
				<li><button class="px2-btn" disabled>マージ</button></li>
				<li><button class="px2-btn" disabled>削除</button></li>
			</ul>
			{% else %}
			<a href="javascript:;" data-branch-name="{{ row }}">{{ row }}</a>
			<ul class="gitui79__menu-list">
				<li><button class="px2-btn px2-btn--default" data-branch-name="{{ row }}" data-method="merge">マージ</button></li>
				<li><button class="px2-btn px2-btn--danger" data-branch-name="{{ row }}" data-method="delete">削除</button></li>
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2>リモートブランチ</h2>
	<ul class="gitui79__branch-list">
		{% for row in branch.remoteBranches %}
		<li>
			{% if checkoutedRemoteBranches[row] %}
			{{ row }}
			{% else %}
			<a href="javascript:;" data-branch-name="remotes/{{ row }}">{{ row }}</a>
			{% endif %}
			<ul class="gitui79__menu-list">
				<li><button class="px2-btn px2-btn--default" data-branch-name="remotes/{{ row }}" data-method="merge">マージ</button></li>
				<li><button class="px2-btn px2-btn--danger" data-branch-name="remotes/{{ row }}" data-method="delete">削除</button></li>
			</ul>
		</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2>ブランチを作成する</h2>
	<form action="javascript:;" method="get">
		<div class="input-group mb-3">
			<input type="text" name="branch-name" value="" class="form-control" />
			<div class="input-group-append">
				<button type="submit" class="px2-btn px2-btn--primary">作成する</button>
			</div>
		</div>
	</form>
</section>
