<div class="gitui79__toolbar">
	<ul class="nav nav-tabs">
		<li class="nav-item"><a class="nav-link gitui79__btn gitui79__btn--status" href="javascript:;">ステータス</a></li>
		<li class="nav-item"><a class="nav-link gitui79__btn gitui79__btn--branch" href="javascript:;">ブランチ</a></li>
		<li class="nav-item"><a class="nav-link gitui79__btn gitui79__btn--log" href="javascript:;">コミットログ</a></li>
		<li class="nav-item"><a class="nav-link gitui79__btn gitui79__btn--pull" href="javascript:;">プル</a></li>
		<li class="nav-item"><a class="nav-link gitui79__btn gitui79__btn--push" href="javascript:;">プッシュ</a></li>
	</ul>
</div>
<div class="gitui79__body"></div>
<div class="gitui79__statusbar"></div>
