<div class="gitui79__toolbar">
<ul>
<li><button class="px2-btn px2-btn--default gitui79__btn gitui79__btn--status">ステータス</button></li>
<li><button class="px2-btn px2-btn--default gitui79__btn gitui79__btn--log">コミットログ</button></li>
<li><button class="px2-btn px2-btn--default gitui79__btn gitui79__btn--pull">プル</button></li>
<li><button class="px2-btn px2-btn--default gitui79__btn gitui79__btn--push">プッシュ</button></li>
</ul>
</div>
<div class="gitui79__body"></div>
<div class="gitui79__statusbar"></div>
