<div class="px2-p">
    <table class="px2-table">
        <tr>
            <th>file</th>
            <td>{{ file|e }}</td>
        </tr>
        <tr>
            <th>status</th>
            <td>{{ status|e }}</td>
        </tr>
    </table>
</div>

{% if code or diffHtml %}
<h2>差分</h2>
{% if diffHtml %}
<div>{{ diffHtml }}</div>
{% endif %}
{% endif %}
