<section class="gitui79__current-branch-name">
	<p>Branch: <q>{{ currentBranchName }}</q></p>
</section>

<section class="gitui79__uncommited-changes">
	<h2>コミットされていない変更</h2>
{% if status.notStaged.untracked.length
 or status.notStaged.modified.length
 or status.notStaged.deleted.length
 or status.staged.untracked.length
 or status.staged.modified.length
 or status.staged.deleted.length
 or status.unmerged.bothAdded.length
 or status.unmerged.bothModified.length
%}
	<ul class="gitui79__list-changes">
{% for file in status.notStaged.untracked %}
		<li class="gitui79__list-changes-untracked"><a href="javascript:;" data-file="{{ file|e }}" data-status="untracked" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.notStaged.modified %}
		<li class="gitui79__list-changes-modified"><a href="javascript:;" data-file="{{ file|e }}" data-status="modified" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.notStaged.deleted %}
		<li class="gitui79__list-changes-deleted"><a href="javascript:;" data-file="{{ file|e }}" data-status="deleted" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.staged.untracked %}
		<li class="gitui79__list-changes-staged gitui79__list-changes-untracked"><a href="javascript:;" data-file="{{ file|e }}" data-status="untracked" data-is-staged="staged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.staged.modified %}
		<li class="gitui79__list-changes-staged gitui79__list-changes-modified"><a href="javascript:;" data-file="{{ file|e }}" data-status="modified" data-is-staged="staged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.staged.deleted %}
		<li class="gitui79__list-changes-staged gitui79__list-changes-deleted"><a href="javascript:;" data-file="{{ file|e }}" data-status="deleted" data-is-staged="staged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.unmerged.bothAdded %}
		<li class="gitui79__list-changes-staged gitui79__list-changes-unmerged"><a href="javascript:;" data-file="{{ file|e }}" data-status="unmerged" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.unmerged.bothModified %}
		<li class="gitui79__list-changes-staged gitui79__list-changes-unmerged"><a href="javascript:;" data-file="{{ file|e }}" data-status="unmerged" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
	</ul>
	<div class="clearfix px2-p gitui79__btn-block-open-commit-form">
		<div class="float-left"><button class="px2-btn gitui79__cont-btn-discard" type="button">変更を破棄する</button></div>
		<div class="float-right"><button class="px2-btn px2-btn--primary gitui79__cont-btn-commit" type="button">コミットする</button></div>
	</div>
	<div class="gitui79__commit-form" style="display: none;">
		<form action="javascript:;" method="post">
			<h3>コミットコメント</h3>
			<p><textarea class="form-control"></textarea></p>
			<h3>コミッター</h3>
			<p>{{ committer.name }} &lt;{{ committer.email }}&gt;</p>
			<div class="text-center"><button class="px2-btn px2-btn--primary gitui79__btn-do-commit" type="submit">コミットする</button></div>
		</form>
	</div>

{% else %}
	<div class="gitui79__uncommited-changes-nothing-to-commit">
		<p>コミットされていない変更はありません。</p>
	</div>
{% endif %}
</section>
